@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes scaleOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.scale-out {
  animation-name: scaleOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.scale-in {
  animation-name: scaleIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  from {
    margin-top: 100rem;
  }
  to {
    margin-top: 0;
  }
}

.move-up {
  animation-name: moveUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.12, 0.63, 0.68, 1.13);
}
